<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>LIBRARY</h1>
    <a href="/users/profile">HOME</a>
    <div id="favorites-container">
      <div class="memeFave">
      <h2><%= user.username %>'s Favorites:</h2>
      <% favorites.forEach((favorites) => { %>
        <p><%= favorites.urlName %></p>
        <img src="<%= favorites.imageUrl %>">
        <p><%= favorites.slug %></p>
        <img src="<%= favorites.imagesoriginalurl %>">
        <form action="/library/<%= favorites._id %>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
      <% }) %>
      </div>

  </div>
  </body>
</html>
