<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/library.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>LIBRARY</h1>
    <a href="/users/homeProfile">HOME</a>
    <div id="favorites-container">
      <div class="memeFave">
        <h1><%= user.username %>'s Favorites:</h1>
        <% favorites.forEach((favorite) => { %>
          <% if (favorite.slug || favorite.urlName) {%>
           <div class="textOutput">
            <a href="<%= favorite.imageUrl %>" download>
              <img src="<%= favorite.imageUrl %>">
            </a>
            <a href="<%= favorite.imagesoriginalurl %>" download>
              <img src="<%= favorite.imagesoriginalurl %>">
            </a>
          </div>
          <form action="/library/<%= favorite._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
          </form>
         <%}%>
        <% }) %>
      </div>
    </div>
  </body>
</html>
