<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="search.css">
  </head>
  <body>
    <h1>GIF</h1>
    <a href="/home">HOME</a>
    <a href="/library">LIBRARY</a>
    <form action="/search" method="POST">
      <input type="text" name="search" placeholder="Search By Keyword">
      <input type="submit" value="Go">
      <div class="spacer">
        <h2>Meme Results</h2>
        <h2>Gif Results</h2>
      </div>
    </form>
    <div class="searchResults">
      <div class="meme">
        <div class="result">
        </div>
        <% meme.forEach((value) => { %>
          <p><%= value.urlName %></p>
          <img src="<%= value.imageUrl %>">
        <%})%>
      </div>
      <div class="gif">
        <div class="result">
        </div>
        <% gif.forEach((value) => { %>
          <p><%= value.slug %></p>
          <img src="<%= value.images.original.url %>">
        <%})%>
      </div>
    </div>
    <div class="buttonz">
      <% for (let i= 0; i<= 4; i++) {%>
        <form action="/search" method="POST">
          <input type="hidden" value="<%= i %>" name="page">
          <input type="hidden" name="search" value="<%= searchQuery %>">
          <input type="submit" value="<%= i+1 %>">
        </form>
      <%}%>
    </div>
  </body>
</html>
